.weather_widgets ul {
    list-style-type: none;
    margin: 0 auto;

}
.weather_widgets ul li {
    display: inline-block;
    align-content: center;
    margin: 10px;
}
.weather_widgets .widget_container {
    width: 300px;
    height: 200px;
    background-color: #2C3E50;
    color: #fff;
    padding: 5%;
}
.weather_widgets .widget_container h1 {
    font-size: 55px;
}

.weather_widgets .widget_container h3 {
    font-size: 24px;
}

.weather_widgets .widget_container small {
    opacity: .5;
}

.mapMarker {
    background-color: #aaa;
    background-image: linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
    display: block;
    height: 1em;
    left: 50%;
    margin: -1em -.05em;
    position: absolute;
    top: 50%;
    width: .15em;
}
.mapMarker:after {
    background-color: red;
    background-image: radial-gradient(circle, 25% 25%, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
    border-radius: 50%;
    content: '';
    height: .8em;
    left: -.35em;
    position: absolute;
    top: -.65em;
    width: .9em;
}
