  
#header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#aboutProject {
    padding-top: 20px;
    padding-bottom: 20px;
}

#graphSection {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #666;
}

#graphInfo {
    border: 0px solid #666;
    font-size: 14px;
    margin-top: 40%;
}

#graphBox {
    border: 0px solid #666;
}