html, body {
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

table {
    margin: 0 auto;
  }
  
canvas {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
  }
  
#header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#aboutProject {
    padding-top: 20px;
    padding-bottom: 20px;
}

#graphSection {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #666;
}

#graphInfo {
    border: 0px solid #666;
    font-size: 14px;
}

#graphBox {
    border: 0px solid #666;
}

#root {

}

/* Navigation */
a {
    color: #f4f5f6;
}

a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}

.navbar-custom {
	margin-bottom: 0;
	background-color: #121d1f;
    border-radius: 0px;
}



.navbar-text {
    text-align: right;
}