html, body {
    height: 100%;
}

table {
    margin: 0 auto;
  }
  
canvas {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
  }
  
#header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#aboutProject {
    padding-top: 20px;
    padding-bottom: 20px;
}

#graphSection {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #666;
}

#graphInfo {
    border: 0px solid #666;
}

#graphBox {
    border: 0px solid #666;
}

#root {

}